.contact-form {
  margin-top: 30px;

  .contact-form-input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    border: 0;
    border-radius: 4px;
    width: 100%;
    color: #9E9E9E;
    padding: 18px 22px;
    font-size: 18px;
    margin-bottom: 20px;

    &::placeholder{
      color: #9E9E9E;
    }
  }

  .contact-form-checkbox-label {
    color: #9E9E9E;
  }

  textarea.contact-form-input {
    min-height: 190px;
  }

  .contact-form-input-checkbox{
    display: none;
    &:checked + .contact-form-checkbox-label:after {
      opacity: 1;
      transform: scale(1);
    }
  }

  .contact-form-checkbox-label{
    color: #ADABAB;
    position: relative;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    padding-left: 60px;
    margin-bottom: 20px;
    margin-top: 5px;
    align-content: center;

    &:before {
      position: absolute;
      content: "";
      left: 0px;
      top: -2px;
      width: 35px;
      height: 35px;
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
    }

    &:after {
      position: absolute;
      content: "\f00c";
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;
      left: 11px;
      top: 9px;
      color: #EA2626;
      opacity: 0;
      transition: opacity .3s, transform .3s;
      transform: scale(0.5);
    }
  }
}