.content {
  padding: 80px 0;
  .content-heading {
    color: white;
  }
  &.content-centered {
    text-align:center;
  }

  &.content-dark-content{
    background: #303B48;
  };

  .aboutme-paragraph {
    color: #ffffff;
    word-spacing: 3%;
    font-weight: 400;
    font-size: 16px;
  }
}

@media only screen and (max-width: 576px){
  .content {
    .content-side-image-content{
      .content-heading {
        text-align: center;
      }
    }
  }
  .aboutme-paragraph {
    margin: 20px;
  }
}